{% extends "/layouts/layout.html" %}
{% block body %}

<!DOCTYPE html>
  <html lang="ro">
  <head>
    <title>Platforma pentru comunicare</title>
    <style>
        a:link {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }
        div.cls3 {
  height: 400px;
  overflow: scroll;
}
    </style>
    <script src="app/static/assets/js/light-bootstrap-dashboard.js" type="text/javascript"></script>
    <link href="app/static/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.8/push.min.js"></script>
  </head>
<body>
<div class="logoutContainer">
    </br>
</div>
<div class="chatContainer">
  <div class="chatUserList">
    <div class="conversationHeader">
        <div style="margin-top: 5px;margin-bottom: 5px;color: #7b38d8; font-size: 20px" align="center">
            <b>Lista prieteni</b>
        </div>
        </div>
            <div>
                {% for f in friend %}
                    {% if f.username_fk==current_user.username %}
                        <a href="/{{ current_user.username }}-{{f.username_friend}}">
                            <div style="margin-top: 2px;margin-bottom: 2px;color: black; font-size: 16px" align="center">
                                {{ f.name_fr }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="conversation">
            <div class="conversationHistory" id="conversationHistory">
                <div class="conversationHeader">
                    <div style="margin-top: 5px;margin-bottom: 5px;color: #7b38d8; font-size: 20px" align="center">
                        <b>Mesaje</b>
                    </div>
                </div>
                <div id="messageList">
                    <div class="cls3">
                        {% for m in messages %}
                            <ol id="demo">
                                {% set filei=0 %}
                                    {% for fc in fisierele %}
                {% set filei=1 %}
                {% if m.text_mes == fc.name_fc %}
                    {% set filei=1 %}
                    {% if filei == 1 %}
                        <div class="messageFlex">
                          <div >
                            <div >
                                <img src="static/media/user.ico" width="auto" height="30"><strong style="margin-left: 12px;color: #7b38d8">{{ m.username_mes }}</strong>: <a href="{{ url_for('download_file') }}"> {{ m.text_mes }}</a>
                            </div>
                            <div class="timeStamp" id="timeStamp"><i>{{ m.dateTime }}</i></div>

                          </div>
                        </div>
                    {% endif %} 
                {% endif %}
            {% endfor %}
            {% if filei == 0 %}
                <div class="messageFlex">
                          <div>
                            <div >
                                <img src="static/media/user.ico" width="auto" height="30"><strong style="margin-left: 12px;color: #7b38d8">{{ m.username_mes }}</strong>: {{ m.text_mes }}
                            </div>
                            <div class="timeStamp" id="timeStamp"><i>{{ m.dateTime }}</i></div>

                          </div>
                </div>
            {% endif %}
            </ol>
    {% endfor %}

      {% for fc in fisiere %}
            fisierele:{{ fc.name_fc | safe }}....... {{ fc.data_fc |safe }}
        {% endfor %}
</div>
    <div style="background-color: #7b38d8; color: white">
          <form method="POST" action="/ceva.html"
             enctype = "multipart/form-data">
              <div class="form-group">
                  <label for="inputFile"></label>
                  <input style="width: 350px" type="file" name="inputFile" id="myFile">
                  <button type = "submit" id="notif">Submit fisier</button>
              </div>
          </form>

       </div>

    <!-- Trimite date catre server pentru a crea o resursa -->
    <form action="" method="POST">
      <!--<input type="text" class="username" placeholder="Nume utilizator"/>
      <input type="text" class="message" placeholder="Mesaje"/>-->


        <div hidden>
          <label id="lum">Introduceti-va numele de utilizator: </label>
            {{ form.username_mes(value=current_user.username) }}
        </div>
      <label id="ltm" style="color: black">Introduceti un mesaj: </label>
        {{ form.text_mes(placeholder="Mesaj") }}


      <button id="notify-button">Trimite</button>
    <script>
          $("#notify-button").click(function(){
            Push.create("Mesaj trimis!",{
                body: "Utilizatorii au primit notificare!",
                icon: '/static/audio/Logo_small.png',
                timeout: 2000,
                onClick: function () {
                    window.focus();
                    this.close();
                }
            });
          });

          $("#notif").click(function(){
            Push.create("Fisier trimis!",{
                body: "Utilizatorii au primit notificare!",
                icon: '/static/audio/Logo_small.png',
                timeout: 2000,
                onClick: function () {
                    window.focus();
                    this.close();
                }
            });
          });
    </script>



        <!--<div class="alert alert-info">
            {% for m in membrii %}
                <p>{{ m }} a fost notificat ca a fost trimis un mesaj pe chat.</p>
            {% endfor %}

        </div>
        <input id="ascunde" type="button" value="OK">-->
        </br>
        <p>Faceti <a href="/index.html">refresh</a> pentru a vizualiza noile mesaje.</p>
      <script>

          var div1 = document.getElementById("userInput5");
          div1.style.display = "block";
          if (div1.style.display !== "none") {
              div1.style.display = "none";
          }
          else {
              div1.style.display = "block";
          }

          var div2 = document.getElementById("ascunde");
          div2.style.display = "block";
          if (div2.style.display !== "none") {
              div2.style.display = "none";
          }
          else {
              div2.style.display = "block";
          }

          function funcadd(){
              var username_mes = document.getElementById("bon")
              var output = username_mes + ": " + text_mes.value
              document.getElementById("demo").innerHTML = output;
              username_mes.value = "";
              text_mes.value = "";
          }
      </script>

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}
