{% extends "/layouts/layout.html" %}
{% block body %}
<!DOCTYPE html>
  <html lang="ro">
  <head>
    <title>Platforma pentru comunicare</title>
    <style>
        a:link {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }
div.cls3 {
  height: 400px;
  overflow: scroll;
}
    </style>
  </head>
<body>
<div style="height: 70%">
<div class="logoutContainer">
    </br>
    <p>Hei, <a href="user.html">{{current_user.name}}!</a></p>
</div>
<div class="chatContainer">
  <div class="chatUserList">
    <div class="conversationHeader">
        <div style="margin-top: 5px;margin-bottom: 5px;color: #7b38d8; font-size: 20px" align="center">
            <b>Lista prieteni</b>
        </div>
      </div>

        <div>
            {% for f in friend %}
                {% if f.username_fk==current_user.username %}
                  <a href="/{{ current_user.username }}-{{f.username_friend}}">
                    <div style="margin-top: 2px;margin-bottom: 2px;color: black; font-size: 16px" align="center">
                        {{ f.name_fr }}
                    </div>
                  </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
  <div class="conversation">
    <div class="conversationHistory" id="conversationHistory">
      <div class="conversationHeader">
        <div style="margin-top: 5px;margin-bottom: 5px;color: #7b38d8; font-size: 20px" align="center">
            <b>Mesaje</b>
        </div>
      </div>
      <div id="messageList">
      <div class="cls3">
        {% for m in messages %}
        <ol id="demo">
            <div class="messageFlex">
              <div >
                <div >
                    <img src="static/media/user.ico" width="40" height="30"><strong style="margin-left: 12px;color: #7b38d8">{{ m.username_mes }}</strong>: {{ m.text_mes }}
                </div>
                <div class="timeStamp" id="timeStamp"><i>{{ m.dateTime }}</i></div>

              </div>
            </div>
        </ol>

    {% endfor %}
      {% for fc in fisiere %}
            fisierele:{{ fc.name_fc | safe }}....... {{ fc.data_fc |safe }}
        {% endfor %}
      </div>
    <div style="background-color: #7b38d8; color: white">
          <form method="POST" action="/ceva.html"
             enctype = "multipart/form-data">
              <div class="form-group">
                  <label for="inputFile"></label>
                  <input style="width: 350px" type="file" name="inputFile" id="myFile">
                  <button type = "submit">Submit</button>
              </div>
          </form>
       </div>

    <!-- Trimite date catre server pentru a crea o resursa -->
    <form action="" method="POST">
      <!--<input type="text" class="username" placeholder="Nume utilizator"/>
      <input type="text" class="message" placeholder="Mesaje"/>-->


        <div hidden>
          <label id="lum">Introduceti-va numele de utilizator: </label>
            {{ form.username_mes(value=current_user.username) }}
        </div>
      <label id="ltm" style="color: black">Introduceti un mesaj: </label>
        {{ form.text_mes(placeholder="Mesaj") }}

      <button id="btn2" onclick="funcadd()">
          <a href="/index.html">Trimite</a>
      </button>
        <p>Dati <a href="/index.html">refresh</a> pentru a vizualiza noile mesaje.</p>
      <script>
          function funcadd(){
              var username_mes = document.getElementById("bon")
              var output = username_mes + ": " + text_mes.value
              document.getElementById("demo").innerHTML = output;
              username_mes.value = "";
              text_mes.value = "";
          }
      </script>

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

      </div>
    </div>
  </div>
</div>
 </div>
</body>
</html>

{% endblock %}
