<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: none;
  width: 50%;
  padding: 10px;
  height: 230px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="content" align="center" style="height: 80%; width: auto; color: black">
    <div class="container-fluid" >
            <div class="col-md-8">
                <div class="card" align="center" style="background-color: #b65fff; width: 620px;">
                    <div class="card-header">
                        <h2 class="card-title" style="margin-bottom: 10px"><b>REGISTER</b></h2>
                    </div>
                    <br />
                    {% if msg %}
                    <p>{{ msg | safe }}</p>
                    <br />
                    {% endif %}

                    <div class="card-body">
                        <form method="post" action="">
                            {{ form.hidden_tag() }}
                            <div class="row">
  <div class="column">
                                <label style="font-size: 20px;color: black">Name:  </label>
<br>
                                  <label style="font-size: 20px;color: black">Last Name:  </label>
<br>
                                  <label style="font-size: 20px;color: black">Username:  </label>
<br>
                                  <label style="font-size: 20px;color: black">Email:  </label>
<br>
                                  <label style="font-size: 20px;color: black">Password:  </label>

  </div>
  <div class="column" >
    <label style="margin-left: 10px; font-size: 20px">{{ form.name(placeholder="Name") }}</label>
                            <br>
                            <label style="margin-left: 10px; font-size: 20px">{{ form.lastn(placeholder="Last name") }}</label>
                            <br>
                            <label style="margin-left: 10px; font-size: 20px">{{ form.username(placeholder="Username") }}</label>
                            <br>
                            <label style="margin-left: 10px; font-size: 20px">{{ form.email(placeholder="Email") }}</label>
                            <br>
                            <label style="margin-left: 10px; font-size: 20px">{{ form.password(placeholder="Password") }}</label>
  </div>
</div>
                            <div style="margin-top: 10px">
                            <input type='submit' name='submit' value='Register' class="primary"/>
                            &nbsp; &nbsp; Aveți deja un cont? <a href={{url_for('login')}} >Logați-vă</a>
                            <div class="clearfix"></div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

