<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a>Platforma intellBot TK</a>
                    <button href="#" id="installButton" style="font-size:14px;color: #7b38d8; cursor: pointer"><b>Install Now</b></button>
                    <button id="askLocation"><i class="fa fa-map-marker" style="font-size:16px;color: #7b38d8; cursor: pointer"></i></button>

                    <script>
                        if ('geolocation' in navigator) {
                          document.getElementById('askLocation').addEventListener('click', function () {
                            navigator.geolocation.getCurrentPosition(function (location) {
                              console.log(location);
                            });
                          });
                        } else {
                          console.log('Geolocation API not supported.');
                        }
                    </script>


                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>

                </div>
    </nav>
</body>
</html>